.wrapper {
  width: 490px;
  height: 420px;
  margin: 0 auto;
  text-align: center;
  border-left: 1px dashed black;
  border-bottom: 1px dashed black;
}

.div-square {
  width: 45%;
  height: 200px;
  margin: 4px;
  border: 1px solid black;
  float: left;
}

.clear {
  clear: both;
}

.top-left {
  background-color: red;
}

.top-right {
  background-color: green;
}

.bottom-left {
  background-color: orange;
}

.bottom-right {
  background-color: yellow;
}
